/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: lightblue;
} */

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 20px 0px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: yellow;
  padding: 10px 0px;
  
}

.project-bg-img {
  /* background-color: black; */
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}