:root {
  /* LIGHT THEME */
  --light-color-1: #263547;
  --dark-color-1: black;

  --light-color-2: rgb(107, 134, 161);
  --dark-color-2: #212529;

  --light-color-3: #6b86a1;
  --dark-color-3 : rgba(var(--bs-dark-rgb), 1);

  --dark-color-4: #727577;

  --light-color-5: rgb(38, 53, 71);

  --light-color-6: #7c96af;

  --light-color-7: #c1c2c4ba;

  --light-color-8: var(--bs-light-rgb);

  --light-color-9: rgb(255 255 255 / 60%);
  --dark-color-9: grey;
}

@media only screen and (max-width: 991.98px) {
  .skill-img {
    max-height: 3rem !important;
    margin: 6px;
  }
}

@media only screen and (max-width: 767.98px) {
  .header {
    font-size: 1.25rem !important;
  }

  .projects-card {
    border: none;
  }
}

@media only screen and (max-width: 374.98px) {
  .header {
    font-size: 1rem !important;
  }
}

body {
  margin: 0;
}

/* LANDING ELEMENT */

.landing {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  background-position-x: 90%;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px 0px;
}

.header-fixed {
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.dark.header {
  background-color: var(--dark-color-1);
}

.light.header {
  background-color: var(--light-color-1);
}

.light.header .nav-pills .nav-link.active  {
  background-color: #6b86a100 !important;
  color: white !important;
}

/* MAIN */

.main .dark .nav-pills .nav-link.active{
  background: var(--dark-color-2);
  border: 1px solid white;
  color: white;
}

.main .light .nav-pills .nav-link.active  {
  background-color: var(--light-color-2) !important;
  border: 1px solid white;
  color: white !important;
}

.dark.main {
  border-top: 0.6em double black;
}

.light.main {
  border-top: 0.3em double rgba(255, 255, 255, 0.7);
}

.light.main[data-section="projects"] .navbar-projects, .light.main[data-section="experiences"] .navbar-experiences, .light.main[data-section="hobbies"] .navbar-hobbies {
  --opacity: 0.6;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, var(--opacity));
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, var(--opacity));
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, var(--opacity));
}

.dark.main[data-section="projects"] .navbar-projects, .dark.main[data-section="experiences"] .navbar-experiences, .dark.main[data-section="hobbies"] .navbar-hobbies {
  --opacity: 0.6;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, var(--opacity));
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, var(--opacity));
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, var(--opacity));
}

.bg-portfolio {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: #adc;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color-3);
  padding: 10px 0px;
}

.light.footer {
  background-color: var(--light-color-3);
  color: white;
}

/* SECTIONS NAVIGATION */

.sections-nav {
  position: absolute;
  left: -100px;
  z-index: 100;
  font-size: 0.75rem;
}

.sections-nav .nav-link.active {
  background: transparent;
  color: var(--bs-nav-pills-link-active-color) !important;
}

/* SKELETON */

.dark .placeholder {
  background-color: var(--dark-color-4);
}

/* PROJECT */

.project-bg-img {
  /* background-color: black; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.light.project-sm .card-title {
  --bg-opacity: 0.75;
  background-color: rgb(var(--light-color-5), var(--bg-opacity)) !important;
}

.light.card-project .btn-warning, .light.project-sm .btn-warning {
  background-color: var(--light-color-3) !important;
}

.light.card-project .btn-warning:active, .light.card-project .btn-warning:hover {
  background-color: var(--light-color-6) !important;
}

/* THEME BUTTON */

.theme-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  z-index: 100;
  font-size: 0.5rem;
  transition-duration: 0.6s;
  border-style: none !important;
}

input[type="checkbox"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

label {
  position: relative;
  width: 6.5em;
  height: 4.5em;
  background: #304259;
  border-radius: 0em;
  overflow: hidden;
  transition-duration: 0.8s;
}

input:checked + label {
  background-color: rgb(26, 25, 25);
}

#uncheckedIcon {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 10%;
  border: 0px solid red;
  border-radius: 50px;
  background-color: transparent;
  color: yellow;
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s;
  transform-origin: calc(100%) calc(200%);
  transform: rotateZ(0deg);
  font-size: 3em;
}

input:checked + label #uncheckedIcon {
  transform: rotateZ(-60deg);
}

#checkedIcon {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 10%;
  border: 0px solid violet;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.5s;
  transform-origin: calc(0%) calc(200%);
  transform: rotateZ(60deg);
  font-size: 3em;
}

input:checked + label #checkedIcon {
  transform: rotateZ(0deg);
}

/* ABOUT-ME */

.aboutme-sm img {
  border-radius: 50%;
  padding: 20px;
}

.dark.aboutme-sm img, .light.aboutme-sm img {
  padding: 2px;
}

.light .card-aboutme .card-text, .light .card-aboutme .btn {
  background-color: var(--light-color-7) !important;
} 

/* HOBBIES */

.hobby-img-overlay {
  display: flex;
  align-items: end;
}

.hobby-img-overlay > h6 {
  position: relative !important;
  bottom: 0px !important;
}

/* SKILLS */

.skill-img {
  max-height: 3.6rem;
  margin: 6px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25%;
  padding: 4px;
  border: 0px double white;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.6);
}

.rotate-center-1 {
  -webkit-animation: rotate-center 2.5s cubic-bezier(0.5, 0, 0.5, 1) infinite
    alternate;
  animation: rotate-center 2.5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

.rotate-center-2 {
  -webkit-animation: rotate-center 2.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
    alternate;
  animation: rotate-center 2.2s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-26 12:13:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  100% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  100% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}

/* GO-UP BUTTON */

.go-up-button {
  position: fixed;
  right: -50px;
  bottom: 20px;
  z-index: 100;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 50px;
}

.dark.go-up-button, .light.go-up-button {
  border-style: dotted !important;
}

.light.go-up-button {
  background-color: var(--light-color-3) !important;
}

.go-up-button.animate__animated {
  right: 20px !important;
}

.webside-dropdown {
  text-transform: capitalize;
}

/* OTHER */

.light.navbar {
  background-color: #bcbdbf !important;
}

.dark.card {
  border-style: dotted !important;
  --bs-bg-opacity: 0.8;
  background-color: rgba(var(--dark-color-3), var(--bs-bg-opacity));
}

.light.card {
  border-color: rgb(107, 134, 161);
  border-style: dotted !important;
  --bs-bg-opacity: 0.4;
  background-color: rgba(var(--light-color-8), var(--bs-bg-opacity)) !important;
}

.dark .nav-pills .nav-link {
  background: transparent;
  border: 0px solid white;
  color: var(--dark-color-9);
}

.light .nav-pills .nav-link {
  background: transparent;
  border: 0px solid white;
  color: var(--light-color-9);
}

.dark hr, .light hr {
  border-color: white;
}

.light hr {
  border-width: 2px;
}

hr {
  margin: 1rem 1em;
}